/***** Rouge Script, cursive Montserrat, sans-serif *****/
/***** BASE STYLES *****/
body{
	font-family: 'Montserrat', sans-serif;
	color: #000000
}

/***** GRID *****/
.full-width {
  width: 1200px;
  margin: auto;
	overflow: auto;
}
.half-width {
	width: 600px;
	float: left;
}
.third-width {
	width: 381px;
	float: left;
	border: 3px solid #77a466;
	margin: auto;
	height: 200px;
	padding-left: 10px;
}

/*****HEADER *****/
header {
    height: 100px;
    }
header h1 {
  font-size: 30px;
  text-transform: uppercase;
}
header h1 span {
  color: #77a466;
}

/***** PICTURE *****/

#hero-image{
  border-top: 5px solid #77a466;
	border-bottom: 5px solid #77a466;
  height: auto;
	}

/***** ABOUT *****/
#about h2{
  color: #77a466;
	font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
#about p{
	font-size: 16px;
	line-height: 25px;
}

/***** MENU *****/
#bottom h3{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	}
#bottom #specials{
	font-size: 16px;
	}
#menu {
	color: #77a466;
	font-weight: 700;
}
#bottom #reviews{
	font-size: 16px;
	line-height: 21px;
	}
#bottom #contact{
	font-size: 16px;
	line-height: 24px;
	}

/***** FOOTER *****/
footer h2 span{
	color: #77a466;
	font-family: 'Rogue Script', cursive;
}
